services:
  postgres-db:
    image: postgres:15-alpine
    container_name: dynamic-forms-postgres
    restart: always
    environment:
      POSTGRES_DB: dynamic_forms_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      TZ: Asia/Kolkata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d dynamic_forms_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"  # Access pgAdmin in browser via localhost:8081
    depends_on:
      - postgres-db

volumes:
  postgres_data:
